<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewan.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.ewan.model.entity.Comments">
    <!--@mbg.generated-->
    <!--@Table comments-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="answer_id" jdbcType="BIGINT" property="answerId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, pid, product_id, answer_id, content, is_delete, create_time, update_time, order_no
  </sql>
</mapper>