<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewan.mapper.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.ewan.model.entity.ShoppingCart">
    <!--@mbg.generated-->
    <!--@Table shopping_cart-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="system_base_setting_size" jdbcType="BIGINT" property="systemBaseSettingSize" />
    <result column="system_base_setting_color" jdbcType="BIGINT" property="systemBaseSettingColor" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, product_id, system_base_setting_size, system_base_setting_color, num, 
    price, is_deleted, create_time, update_time
  </sql>
</mapper>