<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewan.mapper.SystemBaseSettingMapper">
  <resultMap id="BaseResultMap" type="com.ewan.model.entity.SystemBaseSetting">
    <!--@mbg.generated-->
    <!--@Table system_base_setting-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="ban" jdbcType="INTEGER" property="ban" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, `label`,`ban` ,deleted, create_by, create_time, update_time
  </sql>
</mapper>